<%#encoding:UTF-8%>
<table<%= @id && %( id="#{@id}") %><%= attr?('role') ? %( class="#{attr 'role'}") : nil %><%= attr?('width') ? %( style="width: #{attr 'width'}") : nil %>>
    <% if title? %>
        <caption<%= attr?('captionrole') ? %( class="#{attr 'captionrole'}") : nil %>><%= title %></caption>
    <% end %>
    <%
       if (attr 'rowcount') >= 0 %>
        <%
           [:head, :body, :foot].select { |tsec| !@rows[tsec].empty? }.each do |tsec| %>
            <t<%= tsec %>>
                <%
                   @rows[tsec].each do |row| %>
                    <tr>
                        <%
                           row.each_with_index do |cell, index| %>
                            <<%= tsec == :head ? 'th' : 'td' %>
                            <%
                               if tsec == :head and index == 0 and row[0].attr('colpcwidth') %><%= %( width="#{row[0].attr 'colpcwidth'}%") %>
                            <% end %><%=
                        cell.colspan ? %( colspan="#{cell.colspan}") : nil %><%= cell.rowspan ? %( rowspan="#{cell.rowspan}") : nil %>
                            >
                            <%
                               if tsec == :head %><%= cell.text %>
                            <% else %>
                                <%
                                   case cell.attr('style', nil, false)
                                     when :asciidoc %>
                                    <div><%= cell.content %></div>
                                <%
                                   else %>
                                    <% cell.content.each do |text| %>
                                        <p<%= attr?('entryrole') ? %( class="#{attr 'entryrole'}") : nil %>><%= text %></p>
                                    <% end %>
                                <%
                                   end %>
                            <% end %></<%= tsec == :head ? 'th' : 'td' %>>
                        <%
                           end %>
                        </tr>
                <%
                   end %>
            </t<%= tsec %>>
        <%
           end %>
    <%
       end %>
</table>
