video(id=node.$id(),class=node.$role(),width=node.$attr('width',''),height=node.$attr('height',''),controls=node.$attr('options',''),poster=node.$attr('options','poster'))
 source(src=node.$media_uri(node.$attr('target')))
  | Sorry, the &lt;video&gt; element is not supported in your reading system.