div(id=node.$id(),class=["admonitionblock",node.$attr('name'),node.$role()])
    table
        tr
            td.icon
               if node.document.$attr('icons') == 'font'
                   i(class="icon-#{node.$attr('name')}",title=node.$caption())
               else if node.document.$attr('icons') != false
                   img(src=node.$icon_uri(node.$attr('name')),alt=node.$caption())
               else
                   div.title !{node.$caption()}
            td.content
                if node.$title() != false
                    div.title !{node.$title()}
                !{node.$content()}