if node['$has_role?']('aside') || node['$has_role?']('speaker')
    aside.notes !{node.$content()}
else
    div.admonitionblock(id=node.$id())
        table
            tr
                td.icon
                    i(class="icon-#{node.$attr('name')}",title=node.$caption())
                td.content
                    if node.$title() != false
                        div.title !{node.$title()}
                    !{node.$content()}