case node.$type()
  when "emphasis"
    em(class=node.$role()) !{node.$text()}
  when "strong"
    strong(class=node.$role()) !{node.$text()}
  when "monospaced"
    code(class=node.$role()) !{node.$text()}
  when "superscript"
    sup(class=node.$role()) !{node.$text()}
  when "subscript"
    sub(class=node.$role()) !{node.$text()}
  when "double"
    if node.$role() != false
      span(class=node.$role()) &#8220;!{node.$text()}&#8221;
    else
      | &#8220;!{node.$text()}&#8221;
  when "single"
    if node.$role() != false
      span(class=node.$role()) &#8216;!{node.$text()}&#8217;
    else
      | &#8216;!{node.$text()}&#8217;
  default
    if node.$role() != false
      span(class=node.$role()) !{node.$text()}
    else
      !{node.$text()}