div.olist(id=node.$id(),class=[node.$style(), node.$role()])
    if node['$title?']()
        div.title  !{node.$title()}
    ol(class=node.$style(),start=node.$attr('start',""),type=node.$list_marker_keyword())
        each item in node.$items()
            li(class=[node['$option?']('step') ? "slide" : ""])
                if item['$blocks?']()
                    p !{item.$text()}
                    !{item.$content()}
                else
                    !{item.$text()}