if node.$attr("canvas-image",false)
  section(id=node.$id(),class=["slide","canvas-image",node.$role()],style="background-image: #{node.$attr('canvas-image','')}")
    !{node.$content()}
else
  section.slide(id=node.$id(),class=["#{node.$role()}"])
    if node['$has_role?']('title')
      h1 !{node.$title()}
    else
      h2 !{node.$title()}
    !{node.$content()}
