div.verseblock(id=node.$id(),class=node.$role())
  if node['$title()']
    div.title !{node.$title()}
  pre.content !{node.$content()}
  - attribution = node.$attr('attribution',null)
  - citetitle = node.$attr('citetitle',null)
  if attribution || citetitle
    div.attribution
      if citetitle
        cite !{citetitle}
      if attribution
        if citetitle
          br
            | &#8212; #{attribution}