if node['$has_role?']('aside') || node['$has_role?']('speaker')
  aside.notes !{node.$content()}
else
  div.admonitionblock(id=node.$id(),class=[node.$attr('name'), node.$role()])
    table
      tr
        td.icon
          if node.document.$attr('icons') == 'font'
            i(class="icon-#{node.$attr('name')}",title=node.$caption())
          else if node.document.$attr('icons', false)
            img(src=node.$icon_uri(node.$attr('name')),alt=node.$caption())
          else
            div.title
              !{node.$caption()}
          if node.$title() != false
            div.title !{node.$title()}
          !{node.$content()}