div.colist(id=node.$id(),class=[node.$style(), node.$role()])
  if node.$title() != false
    div.title !{node.$title()}
  if node.document.$attr("icons", false)
    - font_icons = node.document.$attr("icons") == "font"
    table
      each item,i in node.$items()
        - num = i + 1
        tr
          td
            if font_icons
              i.conum(data-value=num)
              b !{num}
            else
              img(src=node.$icon_uri("callouts/#{num}"),alt=num)
          td !{item.$text()}
  else
    ol
      each item in node.$items()
        li
          p
            !{item.$text()}