div.imageblock(id=node.$id(),class=["#{node.$style()}", "#{node.$role()}"],style={
  "text-align": node.$attr('align'),
  float: node.$attr('float') ? "float: #{node.$attr('float')}" : ''
})
  .content
    if node.$attr('link', false)
      a.image(href=node.$attr('link'))
        img(src=node.$image_uri(node.$attr('target')),alt=node.$attr('alt'),width=node.$attr('width'),height=node.$attr('height'),style=[node.$attr('background') ? "background: #{node.$attr('background')}" : ""])
    else
      img(src=node.$image_uri(node.$attr('target')),alt=node.$attr('alt'),width=node.$attr('width'),height=node.$attr('height'),style=[node.$attr('background') ? "background: #{node.$attr('background')}" : ""])
    if node.$title() != false
      .title !{node.$captioned_title()}
