if node.document.$attr("icons") == "font"
  i.column(data-value=node.$text())
  b "(#{node.$text()})"
else if node.document.$attr("icons",false)
  img(src="callouts/#{node.$text()}",alt=node.$text())
else
  b "(#{node.$text()})"