span(class=[node.$type(), node.$role()],style=node.$attr('float', ''))
  if node.$type() == 'icon' && node.document.$attr('icons') == 'font'
    - style_class = ["fa fa-" + node.$target()]
    - style_class.push(node['$attr?']('size') ? 'fa-' + node.$attr('size'): '');
    - style_class.push(node['$attr?']('rotate') ? 'fa-rotate-' + node.$attr('rotate'): '');
    - style_class.push(node['$attr?']('flip') ? 'fa-flip-' + node.$attr('flip'): '');
    if node['$attr?']('link')
      a.image(href=node.$attr('link'),target=node.$attr('window'))
        i(class=[style_class],title=node.$attr('title'))
    else
      i(class=[style_class],title=node.$attr('title'))
  else if node.$type() == 'icon' && !node.document['$attr?']('icons')
    if node['$attr?']('link')
      a.image(href=node.$attr('link'),target=node.$attr('window'))
        | [#{node.$attr('alt')}]
    else
      | [#{node.$attr('alt')}]
  else
    - src = node.$type() == 'icon' ? node.$icon_uri(node.$target()) : node.$image_uri(node.$target())
    if node['$attr?']('link')
      a.image(href=node.$attr('link'),target=node.$attr('window'))
        img(src=src,alt=node.$attr('link'),width=node.$attr('width'),height=node.$attr('height'),title=node.$attr('title'))
    else
      img(src=src,alt=node.$attr('link'),width=node.$attr('width'),height=node.$attr('height'),title=node.$attr('title'))