div.quoteblock(id=node.$id(),class=node.$role())
  if node['$title?']()
    div.title !{node.$title()}
  blockquote !{node.$content()}
  if node.$attr("attribution", false) || node.$attr("citetitle", false)
    div.attribution
      if node.$attr("citetitle", false)
        cite !{node.$attr("citetitle")}
      if node.$attr("attribution", false) && node.$attr("citetitle", false)
        br
      | &#8212; !{node.$attr("attribution", "")}