- hide_title = false
if node.$level() == 1
  section
    section(id=node.$id(),data-transition=node.$attr("data-transition", ""),data-transition-speed=node.$attr("data-transition-speed", ""),data-background=node.$attr("data-background", ""),data-background-size=node.$attr("data-background-size", ""),data-background-repeat=node.$attr("data-background-repeat", ""),data-background-transition=node.$attr("data-background-transition", ""))
      if !hide_title
        h2 !{node.$title()}
        each block in (node.$blocks()['$-'](node.$sections()))
          !{block["$convert"]()}
      each subsection in node.$sections()
        !{subsection["$convert"]()}
else
  section(id=node.$id(),data-transition=(node.$attr('data-transition', "")),data-transition-speed=(node.$attr('data-transition-speed', "")),data-background=(node.$attr('data-background', "")),data-background-size=(node.$attr('data-background-size', "")),data-background-repeat=(node.$attr('data-background-repeat', "")),data-background-transition=(node.$attr('data-background-transition', "")))
    if !hide_title
      h2 !{node.$title()}
    !{node.$content()}