- checklist = node['$option?']('checklist') ? "checklist": null;
if checklist
  if node['$option?']('interactive')
    - marker_checked = '<input type="checkbox" data-item-complete="1" checked>'
    - marker_unchecked = '<input type="checkbox" data-item-complete="0">'
  else
    if node.document.$attr("icons") == "font"
      - marker_checked = '<i class="icon-check"></i>'
      - marker_unchecked = '<i class="icon-check-empty"></i>'
    else
      - marker_checked = '<input type="checkbox" data-item-complete="1" checked disabled>'
      - marker_unchecked = '<input type="checkbox" data-item-complete="0" disabled>'
div.ulist(id=id,class=[checklist, node.$style(), node.$role()])
  if node['$title?']()
    div.title !{node.$title()}
  ul(class=[checklist || node.$style()])
    each item in node.$items()
      li(class=[(node['$option?']('step') || node['$has_role?']('step')) ? "fragment" : ""])
        p
          if checklist && item.$attr('checkbox', false)
            !{item.$attr('checked') ? marker_checked : marker_unchecked}!{item.$text()}
          else
            !{item.$text()}
        if item['$blocks?']()
          !{item.$content()}